{% extends 'cards/page_framework.html' %}
{% block 'page_content' %}
<!-- Heading Row -->
<div class="row">
    <div class="col-md-8">
        <img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="">
    </div>
    <!-- /.col-md-8 -->
    <div class="col-md-4">
    	{% block intro_text %}
    	{% endblock %}
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->

<hr>

<!-- Call to Action Well -->
<div class="row">
    <div class="col-lg-12">
        <div class="well text-center">
            Welcome to the Card Database!
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<!-- Content Row -->
<div class="row">
    <div class="col-md-4">
    	{% block small_block_1 %}
    	{% endblock %}
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
    	{% block small_block_2 %}
    	{% endblock %}
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
       	{% block small_block_3 %}
    	{% endblock %}
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->
{% endblock %}
